/* цвет основного текста #212121 */
/* вторичный цвет текста #757575 */
/* белый цвет #ffffff; */
/* акцент #2196F3; */
/* вторичный цвет фона #F5F4FA; */

:root {
  --primary-text-color: #757575;
  --title-text-color: #212121;
  --accent-color: #2196f3;
  --primary-widht-color: #ffffff;
}

body {
  background-color: #e5e5e5;
  color: var(--primary-text-color);
}

.list {
  list-style: none;
}

/* Logo */
.logo-web {
  color: var(--accent-color);
}

.logo {
  color: var(--title-text-color);
}

/* Site nav */
.site-nav .link {
  color: var(--title-text-color);
}

.site-nav a:hover,
.site-nav a:focus {
  color: var(--accent-color);
}

.site-nav .link.current {
    color: var(--accent-color);
}

/* Contacts-nav */
.contacts-nav a {
  color: var(--primary-text-color);
}

.contacts-nav a:hover,
.contacts-nav a:focus {
  color: var(--accent-color);
}

/* Hero */
.hero-title {
  color: var(--primary-widht-color);
}

.botton {
  color: var(--primary-widht-color);
  background-color: var(--accent-color);
}

/* Features */
.section-title {
  color: var(--title-text-color);
}

.section-desc {
  color: var(--primary-text-color);
}

/* Footer */
.footer-logo,
.footer-link {
  color: var(--primary-widht-color);
}
.footer-contacts {
  color: rgba(255, 255, 255, 0.6);
}


/* Portfolio filter */
.btn-filter {
  color: var(--title-text-color);
  background-color:  #F5F4FA;
}

.btn-filter:hover,
.btn-filter:focus {
  color: var(--primary-widht-color);
  background-color: var(--accent-color);
}

/* Card */
.card-title {
  color: var(--title-text-color);
}

.card-desc {
  color: var(--primary-text-color);
}